<ngx-spinner
  bdColor="rgba(0,0,0,0.9)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white"> <span class="loader"></span></p>
</ngx-spinner>

<div class="container w-75 m-auto">
    <div class="row p-5 bg-light my-2 d-flex justify-content-center align-items-center">
            <div class="col-md-12">
                <div class="data border-1 p-2">
                    <table class="w-100">
                        <tbody class=" w-100">
                            <thead class=" w-100 d-flex justify-content-between">
                                <th>Title and subtite</th>
                                <th class="auth">Author</th>
                                <th class="year">first publisher Year</th>
                            </thead>
                            <tr class=" " *ngFor="let book of trndingArr">
                                <td class="pt-4 bookTitle">{{book.title}}</td>
                                <td>{{book.author_name}}</td>
                                <td>{{book.first_publish_year}}</td>
                            </tr>
                        </tbody>
                            
                    </table>
                </div>
              
            </div>
    </div>
</div>